# Warning: This file is Ansible Managed, manual changes will be overwritten on next playbook run.
#!/usr/bin/env bash

export VECTOR_HOME=./vector-{{ vector_version }}
export PATH=$PATH:$VECTOR_HOME/bin